{% comment %} 
    Renders a first word and a second word

    Accepts: 
    - 
{% endcomment %}


<p>This is coming from a snippet {{ word }} and {{ second_word }}</p>



<script src="{{ 'my-snippet-script.js' | asset_url}}" async></script>